 <!DOCTYPE html>
<!-- You will not be able to see this text. -->

<html>
<title>Redflix</title>
  
<meta charset="UTF-8">
  
<meta name="viewport" content="width=device-width, initial-scale=1">
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
  
  
  
<!-- This is where our CSS code exists -->
<style>
  
  
  body{
    height: 180%
  }
  html{
    height: 90%
  }

  .register{
    border-spacing: 50px;
    border-color:red;
    text-align:center;
    padding: 260px;
    background-color: coral;
  }
  
  .login{
    border-spacing: 50px;
    border-color:red;
    text-align:center;
    padding: 300px;
    background-color: coral;
  }
  
  .footer{
    color: red;
    background-color: black;
    padding: 160px;
    font-size: 28px;
    font-family: Impact, Charcoal, sans-serif;
    text-align: right;
  }
  
  .color(
    background-color: #333;
    padding: 1600px;

  )
  
  body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lucida Console", Courier, monospace;
  }

  
  
  .menu {
    display: none
  }

  
  
  /*To change parts of the background page do so here */ 
  .bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1557245419-a727f9b57615?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
    min-height: 150%;
    filter: brightness(120%);
  }
  
  
  
  
  
  
  /* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  
  
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
 
  
  div.otherServices{
    font-size: 15px;
  }  
  
  
</style>

  
  
  
  
  
  
  
 <!-- This is where our JavaScipt code exists --> 
<script>

var attempt = 3;
function validate(){
var username = document.getElementById("Email").value;
var password = document.getElementById("Password").value;
if ( username == "Jeff" && password == "1234"){
alert ("Login successfully");
window.location = "http://127.0.0.1:8000/Selection.html"; // Redirecting to other page.
return false;
}
else{
attempt --;// Decrementing by one.
alert("You have left "+attempt+" attempt;");
// Disabling fields after 3 attempts.
if( attempt == 0){
document.getElementById("Email").disabled = true;
document.getElementById("Password").disabled = true;
document.getElementById("submit").disabled = true;
return false;
          }
    }
}

  // Tabbed Menu
  function openMenu(evt, menuName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("menu");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
    }
    document.getElementById(menuName).style.display = "block";
    evt.currentTarget.firstElementChild.className += " w3-red";
  }
  document.getElementById("myLink").click();
  
  
  
  // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

  
  
  
  
  
  
  
<body>

  
    <div  id="navbar">
      
      <a href="#">HOME</a>
      
      <a href="#menu">PLANS</a>
      
      <a href="#about">ABOUT</a>
      
      <a href="#contact">CONTACT</a>
      
      <a href="#login">LOGIN</a>
      
      <a href="#register">REGISTER</a>
      

    </div>
 

  
  
  
    
  <!-- Header with image -->
  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-padding">
    </div>
    <div class="w3-display-topleft">
      <span class="w3-text-red w3-serif" style="font-size:100px">
        <br>REDflix
      </span>
      <p>
        <a href="#menu" class="w3-button w3-small w3-red">Let me see the PLANS</a>
      </p>
    </div>
  </header>


  
  
  
    <!-- Login Portion -->
  <div class="login" id="login">
    
      <h1 style="margin-bottom:64px">Login</h1>
      <p> <strong>To login</strong> please enter your email and password</p>
  
      <form action="http://127.0.0.1:8000/selection" target="_self" name="loginform" >
        <p>
          <input  type="text" placeholder="Email" required name="Email">
        </p>
        <p>
          <input  type="password" placeholder="Password" required name="Password">
        </p>
        <p>
          <a href="http://127.0.0.1:8000/selection"><input type="button" value="Enter Platform" onclick="validate()"/></a>
        </p>
      </form>
   
  </div>
  
  
  
  <!-- Menu Container -->
  <div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
    <div class="w3-content">
      <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">PLANS</h1>
      <div class="w3-row w3-center w3-border w3-border-dark-grey">
        <a href="javascript:void(0)" onclick="openMenu(event, 'Pizza');" id="myLink">
          <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Red Package</div>
        </a>
        <a href="javascript:void(0)" onclick="openMenu(event, 'Pasta');">
          <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Scarlet Package</div>
        </a>
        <a href="javascript:void(0)" onclick="openMenu(event, 'Starter');">
          <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Crimson Package</div>
        </a>
      </div>
      
      
      
      <div id="Pizza" class="w3-container menu w3-padding-32 w3-white">
        <h1>
          <b style="color:red">Red Package</b>
          
          <span style="color:red">$19.99</span>
          
        </h1>
        
        <div class="otherServices">
        
          <p style="color:black">Youtube Premium costs <b>$11.99 per month</b></p>
        
          <p style="color:black">Amazon Prime costs <b>$12.99 per month</b></p>
        
          <p style="color:black">ESPN costs <b>$4.99 per month</b></p>
          
          </div>
        
        <hr>
        
        <p style="color:black">Their price $29.97 </b></p>
        
      </div>
      
      
      
      
      
      
      
      <!-- This is the menu option for the Scarlet page -->
      <div id="Pasta" class="w3-container menu w3-padding-32 w3-white">
        <h1>
          <b style="color:red">Scarlet Package</b>
          
          <span style="color:red">$39.99</span>
          
        </h1>
        
        <div class="otherServices">
          
          <p style="color:black">Youtube Premium costs <b>$11.99 per month</b></p>
        
          <p style="color:black">Amazon Prime costs <b>$12.99 per month</b></p>
            
          <p style="color:black">Hulu Premium + Live TV costs <b>$60.99 per month</b></p>
        
          <p style="color:black">Disney Plus costs <b>$6.99 per month</b></p>
        
          <p style="color:black">Fubu costs <b>$54.99 per month</b></p>
          
          </div>

          <hr>
        
        <p style="color:black">Their price $147.95 </b></p>

      </div>
      
      
      
      
      <!-- This is the menu option for the crimson page -->
      <div id="Starter"class="w3-container menu w3-padding-32 w3-white">
        <h1>
          <b style="color:red">Crimson Package</b>
          
          <span style="color:red">Our price: $79.95</span>
          
        </h1>
        
        <div class="otherServices">
          
          <p style="color:black">Youtube Premium costs <b>$11.99 per month</b></p>
        
          <p style="color:black">Hulu Premium + Live TV costs <b>$60.99 per month</b></p>
        
          <p style="color:black">Amazon Prime costs <b>$12.99 per month</b></p>
        
          <p style="color:black">Sling Orange + Sling Blue costs <b>$45 per month</b></p>
        
          <p style="color:black">Disney Plus costs <b>$6.99 per month</b></p>
        
          <p style="color:black">ESPN costs <b>$4.99 per month</b></p>
        
          <p style="color:black">Netflix Premium costs <b>$15.99 per month</b></p>
        
          <p style="color:black">AT&T TV costs <b>$49.99 per month</b></p>
        
          <p style="color:black">Fubu costs <b>$54.99 per month</b></p>
        
          <p style="color:black">Apple TV costs <b>$4.99 per month</b></p>
          
        </div>  

        <hr>
        
        <p style="color:black">Their price $269.99 </b></p>
        
      </div>
      
      <br>
      
    </div>
    
  </div>
  
  
  
  
  
  <!-- Image of something nice -->
  <img src="https://images.unsplash.com/photo-1577109081426-103f2198f29e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"  style="width:100%;">
  
  
  
  
  
  
  
  <!-- About Container -->
  <div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
    <div class="w3-content">
      <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About</h1>
      <p>The consumption of media via video streaming services is higher than ever. Oftentimes, consumers who may watch multiple video media or platforms at once, have to change between multiple screens or browser windows. Redflix is a multimedia platform which will allow consumers to watch multiple video streaming services at once, on a single screen, to alleviate the need to switch between screens or windows. We allow you to catch all your entertainment needs on a single screen. Our service allows you to access all the live events including sports, award shows, live tv and other apps like Youtube, Twitch, Netflix. Once you select all your choices, click on the full screen mode to enter our beautiful streaming service with numerous screens and automated to switch sizes when the event is close to an end. We hope this service allows users to never miss their favorite shows, sports and other entertainment services</p>
      
      <p>We are proud of our interiors.</p>
      <img src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="width:100%" class="w3-margin-top w3-margin-bottom" alt="Restaurant">

    </div>
  </div>
  
  
  
  
    <!-- Contact Container -->
  <div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="contact">
    
    <div class="w3-content">
      
      <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contact</h1>
      
      <p>If you have any questions or concerns please contact us at this number. Our customer support is always at the ready to help you whene</p>
      <br>
      <p>1 800 584 923</p>

      <img src="https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" style="width:100%" class="w3-margin-top w3-margin-bottom">

    </div>
  </div>
  
  
  
  
  

  <!-- Image of something nice -->
  <img src="https://images.unsplash.com/photo-1475691058852-37b5d9b6a878?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"  style="width:100%;">

  
  
  
  
  
  
  
  
  <!-- Registration Portion -->
  <div class="register" id="register">
    
      <h1 style="margin-bottom:64px">Registration</h1>
      <p> <strong>To regiester</strong> for our service please fill out the information below</p>
  
      <form action="/action_page.php" target="_blank">
        <p>
          <input  type="text" placeholder="Full Name" required name="Full Name">
        </p>
        <p>
          <input  type="text" placeholder="Email" required name="Email">
        </p>
        <p>
          <input  type="text" placeholder="Credit Card" required name="Credit Card">
        </p>
         <p>
          <input  type="text" placeholder="Password" required name="Password">
        </p>
        <p>
          <input type="text" placeholder="Your suggestions to imporve our website " required name="Message">
        </p>
        <p>
          <input  type="text" placeholder="Phone Number" required name="Phone Number">
        </p>
        <p>
          <button type="submit">GIVE ME MY SUBSCIPTION</button>
        </p>
      </form>
   
  </div>

  
  
  
  
  
  
  
  <!-- This will be the last thing that the user sees -->
  <footer class= "footer">
    
    <p>Created by Students from the University of Texas at Dallas</p>
    
  </footer>

</body>

</html>
